/* General Styles */

.imageContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(/images/image.png);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 158px;
  padding-left: 415px;
}

.imageContainer1 {
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 580px;
  width: 340px;
  height: 109px;
  background-image: url(/images/image10.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.card {
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 682px;
  height: 409px;
  background-color: #231326;
  border-radius: 40px;
  border: 1px solid #f03035;
  box-sizing: border-box;
}

.section {
  position: relative;
  flex: 1;
  border: 3px solid #f03035;
  box-sizing: border-box;
}

.section:nth-child(1) {
  border-radius: 40px 0 0 40px;
}

.section:nth-child(3) {
  border-radius: 0 40px 40px 0;
}

/* Images within Card Sections */
.FirstImageContainer {
  position: absolute;
  top: 15px;
  left: 50px;
  width: 106px;
  height: 105px;
  background-image: url(/images/image7.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.FirstImageContainer1 {
  position: absolute;
  top: 140px;
  left: 60px;
  width: 91px;
  height: 90px;
  background-image: url(/images/image3.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.FirstImageContainer2 {
  position: absolute;
  top: 270px;
  left: 50px;
  width: 112px;
  height: 96px;
  background-image: url(/images/image5.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.SecondImageContainer {
  position: absolute;
  top: 25px;
  left: 50px;
  width: 92px;
  height: 90px;
  background-image: url(/images/image8.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.SecondImageContainer1 {
  position: absolute;
  top: 120px;
  left: 20px;
  width: 164px;
  height: 144px;
  background-image: url(/images/image2.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.SecondImageContainer2 {
  position: absolute;
  top: 270px;
  left: 50px;
  width: 106px;
  height: 105px;
  background-image: url(/images/image7.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ThirdImageContainer {
  position: absolute;
  top: 20px;
  left: 55px;
  width: 92px;
  height: 90px;
  background-image: url(/images/image3.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ThirdImageContainer1 {
  position: absolute;
  top: 140px;
  left: 45px;
  width: 112px;
  height: 96px;
  background-image: url(/images/image6.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ThirdImageContainer2 {
  position: absolute;
  top: 240px;
  left: 25px;
  width: 164px;
  height: 144px;
  background-image: url(/images/image2.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Button Styles */
.button {
  cursor: pointer;
  width: 490px;
  height: 95px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #dd4a6d;
  color: #f1e6d2;
  font-size: 54px;
  font-weight: 900;
  line-height: 70px;
  outline: none;
  margin-top: 50px;
  margin-left: 90px;
}

/* Media Queries */

/* Mobile */
@media (max-width: 700px) {
  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    background-color: #231326;
    position: relative;
    width: 100vw;
    height: 50vh;
    padding-top: 0px;
    padding-left: 0px;
  }

  .imageContainer1 {
    position: relative;
    top: 18px;
    left: 104px;
    transform: translateX(-50%);
    width: 213px;
    height: 80px;
  }

  .FirstImageContainer {
    top: 2px;
    left: 25px;
    width: 76px;
    height: 75px;
  }

  .FirstImageContainer1 {
    top: 88px;
    left: 35px;
    width: 56px;
    height: 55px;
  }

  .FirstImageContainer2 {
    top: 160px;
    left: 30px;
    width: 72px;
    height: 66px;
  }

  .SecondImageContainer {
    top: 15px;
    left: 30px;
    width: 62px;
    height: 60px;
  }

  .SecondImageContainer1 {
    top: 73px;
    left: 10px;
    width: 100px;
    height: 80px;
  }

  .SecondImageContainer2 {
    top: 155px;
    left: 20px;
    width: 76px;
    height: 75px;
  }

  .ThirdImageContainer {
    position: absolute;
    top: 14px;
    left: 32px;
    width: 57px;
    height: 55px;
  }

  .ThirdImageContainer1 {
    position: absolute;
    top: 88px;
    left: 25px;
    width: 72px;
    height: 56px;
  }

  .ThirdImageContainer2 {
    position: absolute;
    top: 150px;
    left: 12px;
    width: 100px;
    height: 80px;
  }

  .button {
    width: 300px;
    height: 50px;
    padding: 0px 8px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 0px;
  }

  .card {
    width: 382px;
    height: 270px;
    border-radius: 20px;
    border: 1px solid #f03035;
  }

  .section {
    border: 1px solid #f03035;
  }

  .section:nth-child(1) {
    border-radius: 20px 0 0 20px;
  }

  .section:nth-child(3) {
    border-radius: 0 20px 20px 0;
  }

  .imageContainer2 {
    width: 100vw;
    height: 50vh;
    background-image: url(/images/image.png);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 158px;
    padding-left: 415px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .imageContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
    background-image: url(/images/image12.png);
    padding-top: 0px;
    padding-left: 0px;
  }

  .imageContainer1 {
    position: relative;
    top: 18px;
    left: 104px;
    transform: translateX(-50%);
    width: 213px;
    height: 80px;
  }

  .FirstImageContainer {
    top: 2px;
    left: 25px;
    width: 76px;
    height: 75px;
  }

  .FirstImageContainer1 {
    top: 88px;
    left: 35px;
    width: 56px;
    height: 55px;
  }

  .FirstImageContainer2 {
    top: 160px;
    left: 30px;
    width: 72px;
    height: 66px;
  }

  .SecondImageContainer {
    top: 15px;
    left: 30px;
    width: 62px;
    height: 60px;
  }

  .SecondImageContainer1 {
    top: 73px;
    left: 10px;
    width: 100px;
    height: 80px;
  }

  .SecondImageContainer2 {
    top: 155px;
    left: 20px;
    width: 76px;
    height: 75px;
  }

  .ThirdImageContainer {
    position: absolute;
    top: 14px;
    left: 32px;
    width: 57px;
    height: 55px;
  }

  .ThirdImageContainer1 {
    position: absolute;
    top: 88px;
    left: 25px;
    width: 72px;
    height: 56px;
  }

  .ThirdImageContainer2 {
    position: absolute;
    top: 150px;
    left: 12px;
    width: 100px;
    height: 80px;
  }

  .button {
    width: 300px;
    height: 50px;
    padding: 0px 8px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 0px;
  }

  .card {
    width: 382px;
    height: 270px;
    border-radius: 20px;
    border: 1px solid #f03035;
  }

  .section {
    border: 1px solid #f03035;
  }

  .section:nth-child(1) {
    border-radius: 20px 0 0 20px;
  }

  .section:nth-child(3) {
    border-radius: 0 20px 20px 0;
  }
}
